body{
	 background-image:url(img/slugterrastar.png);
	 background-repeat:no-repeat;
	 background-size:small;
	 width:100%;
	 height:100vh;
	 overflow:auto;	 
}
.container{
	font-family:Roboto,sans-serif;
	  background-image:url(img/darkblueblurredbackgroung);
    
     border-style: 1px solid red;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     margin-top: 67px;
   box-shadow: darkblue;
     max-width: 500px;
     padding-top: 10px;
     height: 363px;
     margin-top: 166px;
}
.lastname{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: red;
     margin-top: 10px;
}
.firstname{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: darkorange;
     margin-top: 5px;
}
#lname{
	 margin-top:5px;
}
.heading{
	 text-decoration:bold;
	 text-align : center;
	 font-size:30px;
	 color: #FF8000;
	 padding-top:10px;
}

#email{
	  margin-top: 5px;
}
.mail{
	 margin-left: 44px;
     font-family: sans-serif;
     color: chartreuse;
     font-size: 14px;
     margin-top: 13px;
}
.pass{
	 color: blue;
     margin-top: 9px;
     font-size: 14px;
     font-family: sans-serif;
     margin-left: 6px;
     margin-top: 9px;
}
#password{
 margin-top: 6px;
}
.pno{
	 font-size: 18px;
     margin-left: -13px;
     margin-top: 10px;
     color: indigo;
	
}
.gender {
	 color: blueviolet;
     font-family: sans-serif;
     font-size: 14px;
     margin-left: 28px;
     margin-top: 8px;
}
.col-xs-4.male{
	 color: green;
     font-size: 13px;
     margin-top: 9px;
     padding-bottom: 16px;
}
.col-xs-4.female {
     color: mediumblue;
     font-size: 13px;
     margin-top: 9px;
     padding-bottom: 16px;
	 padding-right: 95px;
}	

.sbutton{
	 color: white;
     font-size: 20px;
     border: 1px solid blue;
     background-color: #080808;
     width: 32%;
     margin-left: 41%;
     margin-top: 16px;
	 box-shadow: 0px 2px 2px 0px blue;
   }
.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
	background:#5900a6;
	color:firebrick;
	transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
}	 